.mainFooter .siteLinks > li > a {
    font-size: 1rem;
    font-weight: 400;
    
    letter-spacing: 0.1em;
    color: #1663b1;
    margin: 0 10px;
    text-decoration: none;
}

.siteLinks  li {
    text-decoration: none;
    color: #1663b1;  
}

.mainFooter {
    background: #222;
    padding: 100px 0 0;
}

.mainFooter p {
    font-size: 1.1rem;
    color: #555;
}

.mainFooter .copyrights {
    margin-top: 70px;
    background: #1d1d1d;
    padding: 30px 0;
}
