.iconStyle {
  // display: inline-block;
  width: .9em;
  height: .9em;
  stroke-width: .4;
  font-size: 1.4rem;
  stroke: rgba($color: #68B3FF, $alpha: 0.5);
  fill: rgba($color: #68B3FF, $alpha: 0.5);
  
}

.iconsLineHeight li{
  vertical-align: middle;
}

.iconlayericon {
  width: 25em;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

