// section,
// footer {
//  overflow-x:hidden
// }

header {
    margin-bottom: 60px;
}

.c-bg{
  border-bottom: 5px solid rgb(48, 134, 215);
  background-color: rgb(255, 255, 255);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  color: rgb(129, 110, 110);
}

.btn {
  text-transform: uppercase;

}
section {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
}
h1.small-heading {
    font-size: 1.25rem;
    font-weight: 600;
    color: #a0d5e1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

$btn-border-radius:  5rem;



// .navbar-toggler-icon {
//   background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%2811, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") ;
// }


// $navbar-icon-hamburger: rgba(255,255,255, .55);


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 204, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")   !important;
        };

 .custom-toggler .navbar-toggler {
            border-color: lightgreen !important;
        }

  // $zindex-offcanvas-backdrop: 0 !important;
  $zindex-modal-backdrop: 0;
  // $accordion-padding-x: 0;

$card-border-width: 0;
$card-cap-bg: white;
$card-cap-padding-x: 1.2rem;
$accordion-button-color: #707070;

// a hover effekt
//$link-hover-color: rgb(48, 134, 215);
$link-color: #707070 ;

$navbar-light-hover-color: #a0d5e1;
$link-hover-color: #a0d5e1;

// Accordion Icon
$accordion-button-icon: url("data:image/svg+xml,%3Csvg id='Ebene_1' data-name='Ebene 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 425.15 315.65'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bopacity:0.42;%7D.cls-2%7Bfill:%2368b3ff;%7D%3C/style%3E%3C/defs%3E%3Cg class='cls-1'%3E%3Cpath class='cls-2' d='M7181.83,7042.53c9.25-13.66,24.46-13.71,33.79-.1l79.28,115.63,33.92,49.48,79.28,115.62c9.33,13.61,3.46,24.75-13,24.75H7004.94c-16.5,0-22.43-11.18-13.18-24.84L7070,7207.64l33.65-49.68Z' transform='translate(-6987.39 -7032.25)'/%3E%3C/g%3E%3C/svg%3E");
$accordion-button-active-icon: url("data:image/svg+xml,%3Csvg id='Ebene_1' data-name='Ebene 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 425.15 315.65'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bopacity:0.42;%7D.cls-2%7Bfill:%2368b3ff;%7D%3C/style%3E%3C/defs%3E%3Cg class='cls-1'%3E%3Cpath class='cls-2' d='M7181.83,7042.53c9.25-13.66,24.46-13.71,33.79-.1l79.28,115.63,33.92,49.48,79.28,115.62c9.33,13.61,3.46,24.75-13,24.75H7004.94c-16.5,0-22.43-11.18-13.18-24.84L7070,7207.64l33.65-49.68Z' transform='translate(-6987.39 -7032.25)'/%3E%3C/g%3E%3C/svg%3E");


// List_Color
$list-group-border-color: #c3f9c5;

// List Groupe Font Color
$list-group-color:  #707070;

@import "~bootstrap/scss/bootstrap.scss";