.bgWrap {
    // position: absolute;
    height: 35vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }

@media only screen and (max-width: 1488px) {
  .bgWrap {
    height: 100vh;
  }
}

.ColorFont {
  color: #707070;
}

.vl {
    border:         none;
    border-left:    1px  solid rgba($color: #707070, $alpha: 1.0);
    height:         50vh;
    width:          1px;
    margin-left:    3rem;
}

.vlKontakt {
  border:         none;
  border-left:    1px  solid rgba($color: #707070, $alpha: 1.0);
  height:         20vh;
  width:          1px;
  margin-left:    3rem;
}

.vlAnfahrt {
  border:         none;
  border-left:    1px  solid rgba($color: #707070, $alpha: 1.0);
  height:         15vh;
  width:          1px;
  margin-left:    3rem;
}

.vlQualification {
  border:         none;
  border-left:    1px  solid rgba($color: #707070, $alpha: 1.0);
  height:         40vh;
  width:          1px;
  margin-left:    3rem;
}

.ColorListStyle li {
  
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

@media only screen and  (orientation: landscape ) {
  .vl {
    margin-left:    1rem;
  }  
}

.heading {
    color: rgba($color: #2f6fb8, $alpha: 1);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.inhaltBehandlung {
  padding-left: 3rem;  
  color: #707070
}

 @media screen and (max-width: 375px) {
.inhaltBehandlung {
    padding-left: .5rem
  }
} 

.imageDropShadow {
  box-shadow: 0px 10px blue;
  // filter: drop-shadow(0 30px 4px #4444dd);  
}
  

// .textResponsive {
//     font-size: calc(100% + 1vw + 1vh);
//   }

