// .siteLinks > li > a {
//     color: #1663b1;
// }


.sideMenue a:hover{
    border: 2px solid #1663B1;
    z-index: 1050;
    background-color: #e7f1ff;
}

.sideMenue li:hover   a{
    // border: 2px solid #1663B1;
    padding: .38rem .875rem !important;
    background-color: #e7f1ff;
    z-index: 1050;
}

.sideIcon {    
    margin-left: -1rem;
    position: fixed;
    text-align: center;
    top: 90%;
    color: #a0d5e1 !important;
    //color: violet !important;
    font-size: 40px;
}

// .sideMenueMargin li a {
//     margin: 4px;
    
// }