.vercel
.next
node-modules
node_modules
node_modules
components/bg.js
components/Aktuelles.js

components/Feature.js
components/Grid.js
components/Page.js
components/Teaser.js
components/DynamicComponent.js
lib/storyblok.js
pages/api/exit-preview.js
pages/api/preview.js
pages/events/[slug].js
# public/serviceWorker.js

context
out
.vscode
getServerSideProps.tsx