.vercel
.next
node-modules
node_modules
node_modules
components/bg.js
components/Aktuelles.js
components/Feature.js
components/Grid.js
components/Page.js
components/Teaser.js
components/DynamicComponent.js
context
lib
out
.vscode
getServerSideProps.tsx